;; Copyright 2024 haghir
;;
;; This program is free software: you can redistribute it and/or modify
;; it under the terms of the GNU General Public License as published by
;; the Free Software Foundation, either version 3 of the License, or
;; (at your option) any later version.
;;
;; This program is distributed in the hope that it will be useful,
;; but WITHOUT ANY WARRANTY; without even the implied warranty of
;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;; GNU General Public License for more details.
;;
;; You should have received a copy of the GNU General Public License
;; along with this program.  If not, see <https://www.gnu.org/licenses/>.

;; Path to the directory containing gtags.el
(defconst gtags-load-path "/path/to/gtags")

;; config.el
(let ((config-el (expand-file-name "config.el" user-emacs-directory)))
  (when (file-exists-p config-el)
    (load-file config-el)))

;; GUI Settings
(when (display-graphic-p)
  ;; Theme
  (load-theme 'manoj-dark t)
  (set-face-background 'default "#1e1e1e")
  (set-face-foreground 'default "#dcdcdc")
  ;; Font
  (set-face-attribute 'default nil :font "Courier New" :height 180))

;; Frame Size
(when window-system (set-frame-size (selected-frame) 80 35))
